<!-- <div class="card-group"> -->
<div class="row">
    <div class="col-sm" *ngFor="let product of products;">
        <a routerLink="detail">
            <div class="card">
                <img src=".\assets\img\image1.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <!-- <h5 class="card-title">遠心1</h5> -->
                    <p class="card-text">遠心{{ product }}の設定</p>
                    <!-- <a href="#" class="btn btn-primary">設定</a> -->
                </div>
            </div>
        </a>
    </div>

    <!-- 
        <div class="col-sm">
        <a routerLink="detail">
            <div class="card">
                <img src=".\assets\img\image1.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">遠心1の設定</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm">
        <div class="card">
            <img src=".\assets\img\image1.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">遠心2の設定</p>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="card">
            <img src=".\assets\img\image1.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">遠心3の設定</p>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="card">
            <img src=".\assets\img\image1.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">遠心4の設定</p>
            </div>
        </div>
    </div>
     -->
</div>
<!-- </div> -->
